.card {
  margin-top: 4rem;
}

.card img {
  overflow: hidden;
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card .desc {
  max-height: 14rem;
  overflow: auto;
}

