.card{
    margin-top: 4rem;
    
    img{
        overflow: hidden;
        height: 100%;
        max-width: 100%;
        object-fit: cover;
    }

    .desc{
        max-height: 14rem;
        overflow: auto;
    }
}